<main>
  <section class="wrapper">
    <div class="card-container">
      <div class="card front">
        <img src="assets/card-logo.svg" alt="card-logo" />
        <p class="card-number" *ngIf="creditCard.value.cardNumber">{{creditCard.value.cardNumber}}</p>
        <p class="card-number" *ngIf="!creditCard.value.cardNumber">0000 0000 0000 0000</p>
        <div class="name-exp">
          <p *ngIf="creditCard.value.cardholderName">{{creditCard.value.cardholderName}}</p>
          <p *ngIf="!creditCard.value.cardholderName">Jane Appleseed</p>
          <div>
            <span *ngIf="creditCard.value.month">{{creditCard.value.month}}</span>
            <span *ngIf="!creditCard.value.month">00</span>
            <span>/</span>
            <span *ngIf="creditCard.value.year">{{creditCard.value.year}}</span>
            <span *ngIf="!creditCard.value.year">00</span>
          </div>
        </div>
      </div>
      <div class="card back">
        <p class="cvc-number" *ngIf="creditCard.value.cvc">{{ creditCard.value.cvc }}</p>
        <p class="cvc-number" *ngIf="!creditCard.value.cvc">000</p>
      </div>
    </div>
    <div class="form-container">
      <form [formGroup]="creditCard" (ngSubmit)="onSubmit()" *ngIf="!submitted">
        <div class="form-control">
          <label for="cardholderName">Cardholder Name</label>
          <input
            id="cardholderName"
            formControlName="cardholderName"
            type="text"
            placeholder="e.g. Jane Appleseed"
          />
          <div
            *ngIf="
              creditCard['controls']['cardholderName']?.invalid &&
              creditCard['controls']['cardholderName'].touched
            "
          >
            <p
              class="error-message"
              *ngIf="creditCard['controls']['cardholderName'].errors?.['required']"
            >
              Can't be blank
            </p>
            <p
              class="error-message"
              *ngIf="creditCard['controls']['cardholderName'].errors?.['pattern']"
            >
              Wrong format, letters only
            </p>
          </div>
        </div>
        <div class="form-control">
          <label for="cardNumber">Card Number</label>
          <input
            id="cardNumber"
            formControlName="cardNumber"
            type="text"
            placeholder="e.g. 1234 5789 9123 0000"
          />
          <div
            *ngIf="
              creditCard['controls']['cardNumber']?.invalid &&
              creditCard['controls']['cardNumber'].touched
            "
          >
            <p
              class="error-message"
              *ngIf="creditCard['controls']['cardNumber'].errors?.['required']"
            >
              Can't be blank
            </p>
            <p
              class="error-message"
              *ngIf="creditCard['controls']['cardNumber'].errors?.['pattern']"
            >
              Wrong format, numbers only
            </p>
          </div>
        </div>
        <div class="form-group">
          <div class="form-control">
            <label for="month">Exp. Date (MM/YY)</label>
            <div class="month-year-container">
              <input
                id="month"
                formControlName="month"
                type="text"
                placeholder="MM"
                [maxlength]="2"
              />
              <label for="year"></label>
              <input
                id="year"
                formControlName="year"
                type="text"
                placeholder="YY"
                [maxlength]="2"
              />
            </div>
            <div
              *ngIf="
                (creditCard['controls']['month']?.invalid &&
                  creditCard['controls']['month'].touched) ||
                (creditCard['controls']['year']?.invalid &&
                  creditCard['controls']['year'].touched)
              "
            >
              <p
                class="error-message"
                *ngIf="creditCard['controls']['month'].errors?.['required'] || creditCard['controls']['year'].errors?.['required']"
              >
                Can't be blank
              </p>
              <p
                *ngIf="creditCard['controls']['month'].errors?.['pattern'] ||  creditCard['controls']['year'].errors?.['pattern']"
                class="error-message"
              >
                Wrong format (MM or YY)
              </p>
            </div>
          </div>
          <div class="form-control">
            <label for="cvc">cvc</label>
            <input
              id="cvc"
              formControlName="cvc"
              type="text"
              placeholder="e.g. 123"
              [maxlength]="3"
            />
            <div
              *ngIf="
                creditCard['controls']['cvc']?.invalid &&
                creditCard['controls']['cvc'].touched
              "
            >
              <p
                class="error-message"
                *ngIf="creditCard['controls']['cvc'].errors?.['required']"
              >
                Can't be blank
              </p>
              <p
                class="error-message"
                *ngIf="creditCard['controls']['cvc'].errors?.['pattern']"
              >
                Wrong format, 3 numbers only
              </p>
            </div>
          </div>
        </div>
        <button class="btn">Confirm</button>
      </form>
      <div class="thank-you" *ngIf="submitted">
        <img src="../assets/icon-complete.svg" alt="icon-complete">
        <p class="label">thank you!</p>
        <p>We'we added your card details</p>
        <button class="confirm" (click)="onContinue()">Continue</button>
      </div>
    </div>
  </section>
</main>
<footer>
  <p class="attribution">
    Challenge by
    <a href="https://www.frontendmentor.io?ref=challenge" target="_blank"
      >Frontend Mentor</a
    >. Coded by
    <a href="https://www.frontendmentor.io/profile/feliceNicolasBarcellona"
      >Felice Nicolas Barcellona</a
    >.
  </p>
</footer>
