<main>
  <section class="wrapper">
    <div class="card-container">
      <div class="card front">
        <img src="assets/card-logo.svg" alt="card-logo">
        <p class="card-number">
          0000 0000 0000 0000
        </p>
        <div class="name-exp">
          <p>Jane Appleseed</p>
          <div>
            <span>00</span><span>/</span><span>00</span>
          </div>
        </div>
      </div>
      <div class="card back">
        <p class="cvc-number">000</p>
      </div>
    </div>
    <div class="form-container"></div>
  </section>
</main>
<footer>
  <p class="attribution">
    Challenge by
    <a href="https://www.frontendmentor.io?ref=challenge" target="_blank"
      >Frontend Mentor</a
    >. Coded by <a href="https://www.frontendmentor.io/profile/feliceNicolasBarcellona">Felice Nicolas Barcellona</a>.
  </p>
</footer>
