main {
  max-width: 1440px;
  height: 98vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../assets/bg-main-desktop.png");
  background-repeat: no-repeat;
  background-size: 33.5% 100%;
  padding: 0 1rem;
}

.wrapper {
  width: 1110px;
  height: 528px;
  display: flex;
}

.card-container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 15px;
}

.card {
  width: 446px;
  height: 245px;
  border-radius: 10px;
}

.front {
  background-image: url("^assets/bg-card-front.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% 100%;
  align-self: flex-start;
  padding: 28px 33px 28px 30px;
}

.card-number {
  color: var(--white);
  letter-spacing: 4px;
  font-size: 27px;
  margin-top: 60px;
}

.name-exp {
  display: flex;
  justify-content: space-between;
  color: var(--white);
  text-transform: uppercase;
  font-size: 14.1px;
  letter-spacing: 2px;
  margin-top: 26px;
}

.back {
  background-image: url("^assets/bg-card-back.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% 100%;
  align-self: flex-end;
  position: relative;
}

.cvc-number {
  color: var(--white);
  font-size: 14px;
  letter-spacing: 2px;
  position: absolute;
  top: 45%;
  right: 57px;
}

.form-container {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 0 49px;
}

form {
  width: 383px;
  height: 353px;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 26px;
  width: 100%;
}

.form-control label {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  margin-bottom: 7px;
  color: var(--very-dark-violet);
}

.form-control input {
  padding: 12px 12px 11px 12px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid var(--light-grayish-violet);
  color: var(--very-dark-violet);
  font-size: 16.3px;
  text-indent: 3px;
  letter-spacing: 1px;
  font-family: "Space Grotesk", sans-serif;
  cursor: pointer;
  margin-right: 11px;
}

input::placeholder {
  color: hsla(279, 6%, 55%, 0.5);
}

.form-control input:focus {
  outline: none;
  padding: 12px 12px 11.5px 12px;
  border: double 1px transparent;
  border-radius: 8px;
  background-image: linear-gradient(white, white),
    linear-gradient(rgb(101, 74, 252), rgb(95, 5, 148));
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.form-control input.ng-invalid.ng-touched {
  outline: 1px solid var(--red-input-errors);
  outline-offset: -1px;
}

.error-message {
  font-size: 12px;
  margin: 9px 0 0 0px;
  color: var(--red-input-errors);
}

.form-group {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.btn {
  border: none;
  width: 100%;
  height: 53px;
  background-color: var(--very-dark-violet);
  color: var(--white);
  font-family: "Space Grotesk", sans-serif;
  margin-top: 15px;
  border-radius: 8px;
  font-size: 16.5px;
  letter-spacing: 1px;
  cursor: pointer;
}

.month-year-container {
  display: flex;
  width: 183px;
  justify-content: space-between;
}

.thank-you {
  width: 381px;
  height: 353px;
  text-align: center;
}

.thank-you img {
  margin-top: 61px;
}

.thank-you .label {
  text-transform: uppercase;
  font-size: 28.5px;
  letter-spacing: 3px;
  margin-top: 30px;
  color: var(--very-dark-violet);
}

.thank-you p {
  margin-top: 17px;
  color: var(--dark-grayish-violet);
}

.confirm {
  border: none;
  width: 100%;
  height: 53px;
  background-color: var(--very-dark-violet);
  color: var(--white);
  font-family: "Space Grotesk", sans-serif;
  margin-top: 48px;
  border-radius: 10px;
  font-size: 16.5px;
  letter-spacing: 1px;
  cursor: pointer;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media only screen and (max-width: 1024px) {
  main {
    max-width: 375px;
    height: auto;
    background-image: url("../assets/bg-main-mobile.png");
    background-size: 100% auto !important;
    padding: 0;
  }

  .wrapper {
    height: 100%;
    width: 100%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
  }

  .card-container {
    width: 100%;
    height: 31%;
    flex-direction: column-reverse;
    padding: 30px 0 0 0;
  }

  .card {
    width: 287px;
    height: 159px;
    border-radius: 5px;
  }

  .front {
    z-index: 1;
    margin-top: -65px;
    padding: 18px 21px 0 20px;
  }

  .front img {
    width: 55px;
    height: 30px;
  }

  .card-number {
    font-size: 16.8px;
    margin-top: 33px;
    letter-spacing: 3px;
  }

  .name-exp {
    font-size: 9.5px;
    letter-spacing: 1px;
    margin-top: 18px;
  }

  .cvc-number {
    font-size: 9px;
    top: 45%;
    right: 37px;
    letter-spacing: 1.5px;
  }

  .form-container {
    width: 100%;
    height: 100%;
    padding: 46px 10px 0;
    align-items: flex-start;
  }

  form {
    width: 100%;
    height: auto;
  }

  .form-control {
    margin-bottom: 20px;
  }

  .btn {
    margin-top: 7px;
  }

  .month-year-container {
    width: 163px;
  }
}
